---
layout: default
title: The Light Mechanics
---
<div class="container">

  <h1 class="logo">{% include the-light-mechanics-logo.svg %}</h1>

  <div class="text-group text-group--first">
    <h2 class="text-group__title"><a class="text-group__button" href="#">About</a></h2>
    <div class="text-group__content">
      <p>We're a family business that have built up a respected relationship with our customers over the years. Providing teams of light engineers to meet all lighting requirements.</p>
      <p>Director, Michael Barnett - "I myself attend site every day with our teams completing works and making sure we continue to offer the highest level of service. Our attention to detail, methodical approach and hard work is unrivalled! My business is built on the diligent attitude myself, family and engineers have. We know that our level of performance and quality of work has to be 110% to make sure our phone continues to ring and emails keep coming in. It makes me incredibly proud when clients continue to express their appreciation. We're available 24/7 and I know once you have called upon our services, you will continue to call!"</p>
      <p>We're based in London &amp; Essex but this does not restrict our services. Our Most visited destinations are London &amp; Birmingham but we travel the UK for ongoing contracts and often have teams on a road trip. We have found that our clients prefer us to travel for them as they can trust our work.</p>
    </div>
  </div>

  <div class="text-group">
    <h2 class="text-group__title"><a class="text-group__button" href="#">Projects</a></h2>
    <div class="text-group__content">
      <p>The Light Mechanics have been a part of some very impressive projects over recent years including:</p>
      
      <p>Aon - The leadenhall building<br>
        Deutsche Bank - Canary Wharf<br>
        KPMG - Canary Wharf (along with their other locations in the UK)<br>
        20 Fenchurch St - 'The Walkie-Talkie'<br>
        University of Oxford buildings<br>
        University of Birmingham buildings<br>
        Amazon warehouse - Manchester<br>
        Virgin Atlantic<br>
        Marks &amp; Spencer's throughout the UK<br>
        Asda's throughout the UK<br>
        &amp; many many more...</p>
      
      <p>We have built up experience working across lots of different sectors and industries in turn carrying out works on all types of luminaires!</p>
    </div>
  </div>

  <div class="text-group">
    <h2 class="text-group__title"><a class="text-group__button" href="#">Installation</a></h2>
    <div class="text-group__content">
      <p>We spend the majority of our time attending site to rectify problems that have occurred through install and have now started to provide our services for installation of the fittings to the manufacturers we work with. They can then offer to their clients and electrical contractors the option to fit the luminaire.</p>
      <p>Key benefits:</p>
      
      <ul>
        <li>A specialist team of light engineers working on the project instead of labourers or ceiling fixers.</li>
        <li>Our engineers have previous and which will be continued experience working with the manufacturers products, compared to new operatives on site at each project.</li>
        <li>Rectification work can be identified as and if it occurs preventing reoccurrence and in turn saving costs on after sales engineer call outs.</li>
        <li>Experienced engineers for bespoke fittings and feature lights, It's what we do!</li>
        <li>A unique and extra sales tool when pitching clients - supplying and fitting.</li>
      </ul>
      
      <p class="important">The service provides installing the fitting only. We can feed the flex from the fitting and plug into LCM's if required.</p>
    </div>
  </div>

  <div class="text-group">
    <h2 class="text-group__title"><a class="text-group__button" href="#">Rectification</a></h2>
    <div class="text-group__content">
      <p>The Light Mechanics attend site on behalf of manufacturers to carry out a fault diagnosis, find the best solution and resolve issues (including mechanical) that occur through install or in production.</p>
      <p>We understand that sometimes such issues can be of a sensitive nature and we will conduct ourselves in an appropriate and professional manner. We know the importance of each job and that it leads to repeat business and referrals! You can be assured our engineers will have a diligent attitude to every task they are set. Their methodical approach along with good old fashioned hard work means we can complete works efficiently keeping clients impressed and at ease.</p>
      <p>For each job you will receive a site report along with marked up drawings filled out on PDF expert! Also marked up photos and videos if needed. This helps our clients keep online files of our works, having easy access if they need to revisit. It's also been very useful to clients when they are reclaiming funds for rectification work that wasn't down to them!</p>
      <p>Our engineers have ECS cards, PASMA and IPAF licences.</p>
    </div>
  </div>

  <div class="text-group text-group--last">
    <h2 class="text-group__title"><a class="text-group__button" href="#">Maintenance</a></h2>
    <div class="text-group__content">
      <p>We are equipped to carry out maintenance however big or small whether it be, for example; 10,000 driver/inverters swaps, or 1 LED board that needs replacing. If you still have fluorescent lamps we can offer an LED solution whether that be new fittings or a retrofit. We recently worked with one of our clients changing Lamps to LED tubes in Marks &amp; Spencer's, along with converting their track spots to LED. If that is not an option you want to take, then we can source and change lamps / ballasts / batteries when needed or book in scheduled visits dependent on what you want and need.</p>
      <p>For more information please <a href="#contact-us">contact us</a> to discuss your specific needs.</p>
    </div>
  </div>

</div>

<div class="contact">
  <div class="container">

    <h2 class="contact__title">Contact Us</h2>

    <div class="contact__columns">
      <div class="contact__single-column">
        <form class="form" id="form105" name="form105" accept-charset="UTF-8" autocomplete="off" enctype="multipart/form-data" method="post" novalidate action="https://swancreative.wufoo.eu/forms/zkswy2s1t5vnjo/#public" data-wufooformid="zkswy2s1t5vnjo">
        
          <div class="form__group">
            <label class="form__label" for="Field9">Name <span>*</span></label>
            <input class="form__field" id="Field9" name="Field9" type="text" maxlength="255" required>
          </div>
                
          <div class="form__group">
            <label class="form__label" for="Field10">Email <span>*</span></label>
            <input class="form__field" id="Field10" name="Field10" type="email" spellcheck="false" maxlength="255" required>
          </div>
                
          <div class="form__group">
            <label class="form__label" for="Field11">Phone Number</label>
            <input class="form__field" id="Field11" name="Field11" type="tel" maxlength="255">
          </div>
          
          <div class="form__group">
            <label class="form__label" for="Field12">Message <span>*</span></label>
            <textarea class="form__field form__field--textarea" id="Field12" name="Field12" spellcheck="true" required></textarea>
          </div>
        
          <button class="form__submit" type="submit">Submit</button>
        
          <div class="form__hide">
            <label for="comment">Do Not Fill This Out</label>
            <textarea name="comment" id="comment" rows="1" cols="1"></textarea>
            <input type="hidden" id="idstamp" name="idstamp" value="BhGLcgndsvTmBAvkqKp9pplIkPDWSycUd7c0oEUoC/k=">
          </div>
        
        </form>
      </div>
      <div class="contact__single-column">
        <a class="twitter-timeline" data-height="455" data-link-color="#00A4E7" href="https://twitter.com/light_mechanics">Tweets by light_mechanics</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
    </div>

    <p><strong>A.</strong> Charter House, 103-105 Leigh Rd, Leigh-on-Sea, Essex SS9 1JL &nbsp;|&nbsp; <strong>E.</strong> <a href="mailto:michael.barnett@thelightmechanics.co.uk">michael.barnett@thelightmechanics.co.uk</a> &nbsp;|&nbsp; <strong>M.</strong> 07711 162 280</p>

  </div>
</div>
