$grey: #68676C;
$blue: #00A4E7;

@keyframes fade_in {
  100% {
    opacity: 1;
  }
}

body {
  font-family: 'Roboto', sans-serif;
  color: #333;
  text-align: center;
  background-image: url('/images/background-lines.svg');
  background-size: 50% auto;
  background-position: top right;
  background-repeat: no-repeat;

  @media (min-width: 700px) {
    background-size: auto 500px;
  }
}

h2 {
  color: $blue;
}

p,
li {
  line-height: 1.6em;
}

li {
  margin: 10px 0;
}

ul {
  list-style: none;
  text-align: left;

  > li {
    position: relative;

    &:before {
      content: '';
      display: block;
      top: 10px;
      left: -17px;
      position: absolute;
      width: 5px;
      height: 5px;
      background-color: $blue;
      border-radius: 100%;
    }
  }
}

a {
  color: $blue;
  text-decoration: underline;
  transition: color 0.3s;

  &:hover,
  &:focus {
    outline: none;
    color: #333;
  }
}

.important {
  background-color: $grey;
  color: #FFF;
  padding: 5px 10px;
}

.container {
  width: 100%;
  max-width: 1124px;
  padding: 0 20px;
  margin: 0 auto;
  box-sizing: border-box;

  @media (min-width: 700px) {
    padding: 0 50px;
  }
}

.logo {
  margin: 50px 0;
  animation: fade_in 1s forwards;
  opacity: 0;

  @media (max-width: 699px) {
    padding: 0 30px;
  }

  @media (min-width: 700px) {
    margin: 100px 0;
  }

  &__img {
    display: block;
    margin: 0 auto;
    width: 100%;

    @media (min-width: 700px) {
      width: 50%;
    }
  }

  .grey-letter {
    opacity: 0;
  }

  .grey-letter-1  { animation: fade_in 1s forwards 0.1s; }
  .grey-letter-2  { animation: fade_in 1s forwards 0.2s; }
  .grey-letter-3  { animation: fade_in 1s forwards 0.3s; }
  .grey-letter-4  { animation: fade_in 1s forwards 0.4s; }
  .grey-letter-5  { animation: fade_in 1s forwards 0.5s; }
  .grey-letter-6  { animation: fade_in 1s forwards 0.6s; }
  .grey-letter-7  { animation: fade_in 1s forwards 0.7s; }
  .grey-letter-8  { animation: fade_in 1s forwards 0.8s; }
  .grey-letter-9  { animation: fade_in 1s forwards 0.9s; }
  .grey-letter-10 { animation: fade_in 1s forwards 1.0s; }
  .grey-letter-11 { animation: fade_in 1s forwards 1.1s; }
  .grey-letter-12 { animation: fade_in 1s forwards 1.2s; }
  .grey-letter-13 { animation: fade_in 1s forwards 1.3s; }
  .grey-letter-14 { animation: fade_in 1s forwards 1.4s; }
  .grey-letter-15 { animation: fade_in 1s forwards 1.5s; }
  .grey-letter-16 { animation: fade_in 1s forwards 1.6s; }
  .grey-letter-17 { animation: fade_in 1s forwards 1.7s; }

  .blue-line {
    opacity: 0;
  }

  .blue-line-1 { animation: fade_in 1s forwards 0.4s; }
  .blue-line-2 { animation: fade_in 1s forwards 0.8s; }
  .blue-line-3 { animation: fade_in 1s forwards 1.2s; }
  .blue-line-4 { animation: fade_in 1s forwards 1.6s; }
  .blue-line-5 { animation: fade_in 1s forwards 2.0s; }
}

.text-group {
  border-top: 1px solid $grey;

  &--last {
    border-bottom: 1px solid $grey;
  }

  &__title {
    text-transform: uppercase;
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: color 0.3s;
    text-decoration: none;
    color: $blue;

    &:hover,
    &:focus {
      outline: none;
      color: darken($blue, 10%);
    }

    &:after {
      content: '';
      display: block;
      width: 0;
      height: 0;
      margin-left: 10px;
      border-top: 5px solid transparent;
      border-bottom: 5px solid transparent;
      border-left: 10px solid $blue;
      transition: transform 0.3s,
                  border-left-color 0.3s;
    }

    &:hover:after,
    &:focus:after {
      border-left-color: darken($blue, 10%);
    }

    .text-group--open & {
      &:after {
        transform: rotateZ(90deg);
      }
    }
  }

  &__content {
    display: none;

    > p:first-child {
      margin-top: 0;
    }
  }
}

.contact {
  background-color: $blue;
  padding: 50px 0 34px;
  margin: 100px 0 0;
  color: #FFF;

  &__title {
    font-size: 2.5em;
    text-transform: uppercase;
  }

  h2 {
    color: #FFF;
  }

  a {
    color: #FFF;

    &:hover,
    &:focus {
      color: $grey;
    }
  }

  &__columns {
    padding-bottom: 20px;
    border-bottom: 1px solid #FFF;
    display: flex;

    @media (max-width: 699px) {
      flex-direction: column;
    }
  }

  &__single-column {
    flex: 1;

    &:first-child {
      @media (min-width: 700px) {
        margin-right: 10px;
      }
    }

    &:last-child {
      margin-top: 50px;
      @media (min-width: 700px) {
        margin-left: 10px;
        margin-top: 23px;
      }
    }
  }
}

.form {
  &__group {
    margin: 0 0 20px;
  }

  &__label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
  }

  &__field {
    display: block;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #FFF;
    padding: 10px;
    background-color: $blue;
    transition: background-color 0.3s;
    color: #FFF;
    -webkit-appearance: none;
    border-radius: 0;

    &:focus {
      outline: none;
      background-color: lighten($blue, 10%);
    }

    &--textarea {
      min-height: 206px;
    }
  }

  &__submit {
    display: block;
    border: none;
    background-color: #FFF;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin: 0;
    transition: background-color 0.3s,
                color 0.3s;

    &:hover,
    &:focus {
      outline: none;
      background-color: $grey;
      color: #FFF;
    }
  }

  &__hide {
    display: none;
  }

  &__error {
    color: #F44336;
    margin-top: 5px;
    margin-bottom: 0;
  }

  &__success {
    color: #CDDC39;
    font-size: 1.25em;
  }
}

.footer {
  background-color: $grey;
  color: #FFF;

  @media (max-width: 849px) {
    overflow: hidden;
    padding-top: 25px;
  }

  a {
    color: #FFF;

    &:hover,
    &:focus {
      color: $blue;
    }
  }

  &__container {
    @media (min-width: 850px) {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__logo {
    width: 100px;
  }

  &__text {
    font-size: 0.75em;
  }
}
