<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>The Light Mechanics</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700">
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/style.min.css">
  <link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" href="/favicons/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/favicons/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="/favicons/manifest.json">
  <link rel="mask-icon" href="/favicons/safari-pinned-tab.svg" color="#00a4e7">
  <link rel="shortcut icon" href="/favicons/favicon.ico">
  <meta name="msapplication-config" content="/favicons/browserconfig.xml">
  <meta name="theme-color" content="#00a4e7">
</head>
<body>
  {{ content }}
  <footer class="footer">
    <div class="container footer__container">
      <img class="footer__logo" src="/images/the-light-mechanics-logo-white.svg" alt="The Light Mechanics">
      <p class="footer__text">Copyright &copy; <span class="footer__year">2017</span> The Light Mechanics. All Rights Reserved. Website by <a href="https://www.swancreative.co.uk/" target="_blank">Swan Creative</a>.</p>
    </div>
  </footer>
  <script src="/js/jquery-3.1.1.min.js"></script>
  <script src="/js/script.js"></script>
</body>
</html>
